.container {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	top: 0;
	position: fixed;
}

.inner {
	width: 95%;
	display: flex;
	margin: 25px 0;
	min-height: 4rem;
	border-radius: 10px;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--baseDarkTrans);
}

.navbar {
	display: flex;
}

/* Branding */

.branding {
	margin: 10px;
	display: flex;
	cursor: pointer;
}

.branding img {
	width: 50px;
	height: auto;
}

.branding h2 {
	margin: 8px 10px;
	transition: all 0.5s ease;
	color: var(--textGrey);
}

.branding h2:hover {
	color: var(--textNormal);
}

/* Navigation */
.navbar ul {
	display: flex;
	list-style: none;
	text-decoration: none;
	margin: 22px 5px 0 0;
}

.icon {
	position: relative;
	margin: 0 8px;
	display: inline-block;
}

.feather {
	filter: brightness(1) invert(0.75);
	font-size: 1.5rem;
	transition: all 0.5s ease;
}

.activeFeather {
	filter: invert(39%) sepia(73%) saturate(7263%) hue-rotate(329deg)
		brightness(99%) contrast(105%);
	transition: all 0.5s ease;
}

.activeFeather:hover {
	filter: invert(55%) sepia(97%) saturate(4015%) hue-rotate(331deg)
		brightness(107%) contrast(103%);
}

.feather:hover {
	filter: brightness(1) invert(1);
}

.iconText {
	visibility: hidden;
	width: 120px;
	background-color: var(--baseLight);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 165%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.6s;
}

.iconText:after {
	content: '';
	display: block;
	position: absolute;
	left: 50px;
	bottom: 100%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-bottom-color: var(--baseLight);
}

.icon:hover .iconText {
	visibility: visible;
	opacity: 0.75;
}

/* Dashboard Side */
.dash {
	margin: 10px;
	display: flex;
}

.dash a {
	margin: 3px 15px;
	padding: 5px 30px;
	border: 1px var(--primary) solid;
	border-radius: 10px;
	font-size: 1.25rem;
	position: relative;
	text-transform: uppercase;
	color: var(--textGrey);
	transition: all 0.5s ease;
}

.dash a:hover {
	color: var(--textNormal);
	border: 1px var(--secondary) solid;
	background-color: var(--secondary);
	box-shadow: 0px 5px 10px #ff52525b;
}

/* Mobile Header */
.mobile {
	display: none;
	overflow: hidden;
}

.mobile .menuIcon {
	position: fixed;
	top: 25px;
	right: 25px;
	overflow: hidden;
}

.mobile .menuIcon img {
	width: 35px;
	padding: 5px;
	filter: brightness(1) invert(1);
	overflow: hidden;
	border-radius: 5px;
	border: 1.5px #000000 solid;
}

.mobile .menuContent {
	display: none;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

/* Responsive */
@media (max-width: 1025px) {
	.container {
		display: none;
	}

	.mobile {
		display: block;
	}

	.mobile .menuContent ul {
		display: flex;
		list-style: none;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		overflow: hidden;
	}

	.mobile ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 25px 0;
		overflow: hidden;
	}

	.mobile ul li p {
		margin: 0 15px;
		color: var(--textGrey);
		font-size: 1.5rem;
		overflow: hidden;
	}

	.menuContent .group {
		display: flex;
		overflow: hidden;
	}

	.mobileNav .branding {
		margin: 25px 0;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
}

@media (max-height: 700px) {
	.mobileNav .branding,
	.mobile ul li {
		margin: 15px 0;
	}
}
