.container {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.main {
	width: 60%;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 100px 25px;
}

.main .info {
	color: var(--textNormal);
}

.main .info h2 {
	width: 100%;
	font-size: 2rem;
	text-align: left;
}

.main .info p {
	width: 85%;
	font-size: 0.9rem;
	text-align: left;
}

.infoButtons {
	width: 85%;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.infoButtons a {
	margin: 10px 10px 0 0;
	width: 50%;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.15rem;
	letter-spacing: 0.5px;
	background-color: var(--primary);
	position: relative;
}

.infoButtons a:hover {
	background-color: var(--secondary);
}

.main .image img {
	width: 100%;
	position: relative;
	border-radius: 2rem;
}

/* Features */
.inner {
	width: 90%;
}

.features img {
	margin-bottom: 0;
	padding: 0;
	position: relative;
	top: 8px;
}

.features .container {
	margin: 0;
	padding: 20px;
	position: relative;
	color: #ffffff;
	background-color: var(--primary);
}

.grid {
	width: 100%;
	display: grid;
	color: #ffffff;
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
}

.feature {
	width: 100%;
	color: #ffffff;
}

.feature p {
	font-size: 1rem;
}

.feature .title {
	font-size: 1.25;
	font-weight: bold;
}

.feather {
	filter: brightness(1) invert(0.75);
	font-size: 4rem;
}
