.container {
	width: 90vw;
	margin: 5vw 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.fullContainer {
	width: 100vw;
	margin: 5vw 0;
	text-align: center;
	align-items: center;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.center {
	justify-content: center;
}

.spaceBetween {
	justify-content: space-between;
}

.left {
	justify-content: left;
}

.right {
	justify-content: right;
}
